.img_background{    
    position: absolute;
    right: 20.8vh;
    width: 2025px;
    top: 7vh;
    z-index: 1;
}


.img_logo_eque{
    position: absolute;
    width: 400px;
    left: 40vh;
    top: 50px;
    
    margin: -5rem;
    z-index: 2;

}


.img_profile_eque{
    position: absolute;
    width: 600px;
    right: 22vh;
    bottom: 0px;
    
    z-index: 2;

}